target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

application.properties
application-local.properties
application-dev.properties

.mvn/
.settings/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

react/node_modules/
react/.env
react/.env.local
react/.env.development.local
react/.env.test.local
react/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
*.iml
out/

.vscode/

.DS_Store

.env
